html {
    font-size: 14px;
    padding: 10px;
    max-width: 400px;
}

button {
    padding: 4px;
    width: 100px;
    font-size: 12px;
    border-radius: 10px;
}

#btn-advantage {
    background-color: lightgreen;
}

#btn-advantage:hover {
    background-color: rgb(199, 250, 199);
}

#btn-standard {
    background-color:rgb(250, 250, 178);
}

#btn-standard:hover {
    background-color: lightgoldenrodyellow;
}

#btn-disadvantage {
    background-color:lightpink;
}

#btn-disadvantage:hover {
    background-color:rgb(252, 209, 215);
}